:root {
    --gray: #585858;
    --graylight: #D8D8D8;
}

#login {
    padding: 25px;
}

#login-column {
    padding: 50px;
    border-radius: 20px;
    background-color: var(--graylight);
    box-shadow: 5px 5px 5px 5px var(--gray);
}